name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          cache-dependency-glob: "uv.lock"

      - name: Set up Python
        run: uv python install

      - name: Install the project
        run: uv sync --all-extras --dev

      - name: Run ruff (format)
        run: uv run ruff format . --check --diff

      - name: Run ruff (lint)
        run: uv run ruff check --output-format=github .

      - name: Run mypy
        run: uv run mypy .

      - name: Run pytest
        run: uv run pytest --junitxml=pytest.xml --cov-report=term-missing:skip-covered --cov=src tests/ | tee pytest-coverage.txt

      - name: Upload pytest results
        if: ${{ always() }}
        uses: actions/upload-artifact@v6
        with:
          name: pytest-results
          path: pytest.xml

      - name: Pytest coverage comment
        if: ${{ github.event_name == 'push' }}
        id: coverage
        uses: MishaKav/pytest-coverage-comment@main
        with:
          pytest-coverage-path: ./pytest-coverage.txt
          junitxml-path: ./pytest.xml
          hide-comment: true

      - name: Create coverage badge
        if: ${{ github.event_name == 'push' }}
        uses: schneegans/dynamic-badges-action@v1.7.0
        with:
          auth: ${{ secrets.GIST_SECRET }}
          gistID: e5ef062df34babec4d9a679f6fadaf11
          filename: scarlet-coverage.json
          label: Coverage
          message: ${{ steps.coverage.outputs.coverage }}
          color: ${{ steps.coverage.outputs.color }}
